<div class="page_header">
  <h1>Reset Password</h1>
</div>

<%= form_tag password_resets_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
  <%= submit_tag 'Reset', :class => "btn btn-primary" %>
<% end %>
