<div class="page_header">
  <h2><span>Input a Time</span></h2>
</div>

<%= content_tag "div", id: 'tripmeter', data: {
  trails: Trail.all,
  locations: Location.all,
  user: current_user
  } do %>
  <p>
    Current Location (lat, lon):<br/>
    <span id="currentLat">???</span>&deg;, <span id="currentLon">???</span>&deg;
  </p>
  <p>
    Are you at Viget South?<br/>
    <span id="atViget">???</span>
  </p>
  <p>
    Are you at Stef's House?<br />
    <span id="atHome">???</span>
  </p>
  <p>
  <button id="startButton"></button>
    <button id="stopButton" onclick="clearInterval(window.timer);
      document.getElementById('startButton').disabled = false;
      document.getElementById('timer').innerHTML = 0">Reset</button><br />

    Time: <span id="timer">???</span>
  </p>
<% end %>
