<% content_for :new_timing do %>
  <script type="text/javascript" language="javascript">
    $(function() { window.exports(); });
  </script>
<% end %>

<div class="page_header">
  <h1><span>Time Yourself</span></h1>
</div>

<%= content_tag "div", id: 'tripmeter', data: {
  trails: Trail.all,
  locations: Location.all,
  user: current_user
} do %>
  <p>
    Current Location (lat, lon):<br/>
    <span id="currentLat">???</span>&deg;, <span id="currentLon">???</span>&deg;
  </p>
  <p>
    Trail Name: <span id="trailName">???</span>
  </p>
  <button id="startButton" class="btn btn-primary">Begin Timing</button>
  <p>
  Time: <span id="hours">00</span>:<span id="minutes">00</span>:<span id="seconds">00</span>
  </p>
  <button id="submitButton" class="btn-large btn-success" style="display: none"></button>
<% end %>
