<% for comment in object %>
  <div class="row">
    <div class="span10">
      <div id="comment">
        <span style="color:grey"><%= render "comments/info", :object => [comment] %></span>
        <% if comment.deleted %>
          <p><span style="color:grey">Comment has been deleted by user</span></p>
        <% else %>
          <%= simple_format h(comment.body) %>
        <% end %>
      </div>
      <div class="children">
        <%= render "comments/comment", :object => comment.comments.newest_first %>
      </div>
    </div>
  </div>
<% end %>
