<%= form_tag @comment, :method => :put do %>
  <%= text_area_tag "body" %>
  <p>
  <%= button_tag "Edit", :class => 'btn btn-primary' %>
  </p>
<% end %>
<%= button_to "Cancel", @comment.get_trail, :method => :get, :class => 'btn btn-danger' %>
