<div class="showcomment">
  <span style="color:grey"><%= render "comments/info", :object => [@comment] %></span>
  <%= @comment.body %>
</div>
<%= render "comments/form" %>
<%= button_to "Cancel", trail_path(@comment.get_trail), :method => :get, :class => "btn btn-danger" %>
