<script type="text/javascript">
  var count = 0;

  function clock() {
    count++;
    document.getElementById("intTime").innerHTML=count;
  }

  window.onload = function() {
    var startPos;
    var homeLat = 35.974551;
    var homeLon = -78.99481;
    var vigLat  = 35.997105;
    var vigLon  = -78.899893;

    function showStartPos(position) {
      startPos = position;
      document.getElementById("startLat").innerHTML = startPos.coords.latitude;
      document.getElementById("startLon").innerHTML = startPos.coords.longitude;
    }

    function showError(error) {
      alert("Error occurred. Error code: " + error.code);
      // error.code can be:
      //   0: unknown error
      //   1: permission denied
      //   2: position unavailable (error response from locaton provider)
      //   3: timed out
    }

    function isInArea(position, cenLat, cenLon) {
      var posLat = position.coords.latitude;
      var posLon = position.coords.longitude;

      var squareDist = Math.pow(cenLat - posLat, 2) + Math.pow(cenLon - posLon, 2);
      return squareDist <= Math.pow(0.0005, 2);
    }

    function showCurrentPos(position) {
      var lat = position.coords.latitude;
      var lon = position.coords.longitude;

      document.getElementById("currentLat").innerHTML = lat;
      document.getElementById("currentLon").innerHTML = lon;

      if (isInArea(position, vigLat, vigLon)) {
        document.getElementById("atViget").innerHTML = "YES!";
      }
      else {
        document.getElementById("atViget").innerHTML = "NO!";
      }
      if (isInArea(position, homeLat, homeLon)) {
        document.getElementById("atHome").innerHTML = "YES!";
        window.clearInterval(int);
      }
      else {
        document.getElementById("atHome").innerHTML = "NO!";
      }
    }

    navigator.geolocation.getCurrentPosition(showStartPos, showError, {enableHighAccuracy:true});
    navigator.geolocation.watchPosition(showCurrentPos, showError, {enableHighAccuracy:true});

  }
</script>
<div id="tripmeter">
  <p>
    Starting Location (lat, lon):<br/>
    <span id="startLat">???</span>&deg;, <span id="startLon">???</span>&deg;
  </p>
  <p>
    Current Location (lat, lon):<br/>
    <span id="currentLat">???</span>&deg;, <span id="currentLon">???</span>&deg;
  </p>
  <p>
    Are you at Viget South?<br/>
    <span id="atViget">???</span>
  </p>
  <p>
    Are you at Stef's House?<br />
    <span id="atHome">???</span>
  </p>
  <p>
  <button onclick="var int=self.setInterval('clock()', 1000)">Begin</button><br />
  <button onclick="count = 0">Reset</button><br />
    Time: <span id="intTime">???</span>
  </p>
</div>
