div {
  word-wrap: break-word;
  line-height: 30px;
}

ul#topo-map {
  list-style: none;
  background: url(/assets/uwharrie-topo-highlights.png) no-repeat 0 0;
  position: relative;
  width: 100%;
  height: 680px;
  margin: 0;
  padding: 0;
}

ul#topo-map li {
  position: absolute;
}

ul#topo-map li a{
  display: block;
  height: 100%;
  text-indent: -9001px;
}

ul#topo-map li a:hover {
  background: url(/assets/uwharrie-topo-highlights.png) no-repeat 0 0;
}

ul#topo-map li#daniel a:hover {
  background-position: -539px -685px;
}

ul#topo-map li#dickey_bell a:hover {
  background-position: -267px -685px;
}

ul#topo-map li#rocky_mountain_loop a:hover {
  background-position: -648px -820px;
}

ul#topo-map li#falls_dam a:hover {
  background-position: -51px -841px;
}

ul#topo-map li#slab_pile a:hover {
  background-position: -695px -961px;

#main {
  font-size: 14pt;
}

.page_header, .stats {
  padding-bottom:10px;
}
